@tailwind base;
@tailwind components;
@tailwind utilities;

#gridParent {
  display: grid;
  grid-template-columns: 22% 78%;
  background-color: white;
  height: 100vh;
}

#gridChild2 {
  display: grid;
  grid-template-rows: 70vh 30vh;
}

#parentWrap {
  /* overflow: hidden; */
  width: fit-content;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: rows;
  /* background-color: red; */
}

.flexParent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: rows;
  justify-content: space-around;
  align-items: center;
  /* background-color: black;  */
  width: 75vw;
}

.flexParentSumms{
  display: flex;
  flex-wrap: wrap;
  flex-direction: rows;
  justify-content: space-around;
  align-items: center;
  /* background-color: black;  */ 
  width: 80%;
  height: 100%;
}

.negotiationControls {
display: flex;
 width: 20%; 
 background-color: lightblue;
 height: 100vh;
}

.minWidth{
  min-width: 20 rem; 
  }

.flexChild {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: rows;
}

#TestMySumms{

}

.mySummParentCard {
  align-items: center;
  background-color: green;
  width: 100vw;
  height: 100vh;
}

#bottomRow {
  background-color: grey;
}

#scale-in {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
